@import "tailwindcss";

*{

    box-sizing: border-box;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/Akira Expanded Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display Light';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display Black';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display Med';
  src: url('/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.akira{
  font-family: 'Akira Expanded';
}

.haas{
  font-family: 'Neue Haas Display Light';
}

.haas-black{
  font-family: 'Neue Haas Display Black';
}

.haas-med{
  font-family: 'Neue Haas Display Med';
}