@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/Akira Expanded Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}